*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     text-decoration: none;
     scroll-behavior: smooth;
}
:root{
     --main-color: #CE1212;
     --bg-hover: #E61414;
     --bg-w: #fff;
     --bg-g: #EEEEEE;
     --bg-wb: #fff;
     --color-b: #000;
     --color-w: #fff;
     --color-h: #37373F;
     --bg-li-contact: #F5F5F5;
}
.container{
     margin: auto;
     width: 86%;
     display: flex;
}
span{
     color: var(--main-color);
}
ul{
     list-style: none;
     display: flex;
     justify-content: center;
}
ul li{
     margin: 2px;
}
a{
     text-decoration: none;
     color: var(--color-b);
}
                                        /* nav */
.nav{
     background-color: var(--bg-wb);
     width: 100%;
     position: fixed;
     z-index: 1000;
     box-shadow: 0px 0px 14px 0px #0000001b;
}
.nav .container{
     height: 12vh;
     align-items: center;
}
.nav .logo{
     width: 25%; 
}
.nav .logo a{
     color: var(--color-b);
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     font-weight: 700;
     font-size: 30px;
}
.nav .nav-items{
     width: 50%;
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     font-weight: 600;
     font-size: 17px;
}
.nav .nav-items ul li{
     transition: 1s;
}
.nav .nav-items ul li a{
     position: relative;
     color: #9F9F9F;
     margin: 15px;
     transition: 0.4s;
}
.nav .nav-items ul li a:hover,
.nav .nav-items ul li a.active{
     color: var(--color-b);
}
.nav .nav-items ul li a::after{
     content: "";
     position: absolute;
     background-color: var(--main-color);
     width: 0%;
     height: 2.5px;
     left: 0;
     bottom: -8;  
     transition: 0.4s;
}
.nav .nav-items ul li a:hover::after,
.nav .nav-items ul li a.active::after{
     width: 100%;
}
.nav .modes{
     display: flex;
     justify-content: flex-end;
     width: 25%;
     font-size: 25px;
}
#mode{
     display: none;
}
#mode + label:before {
     content: "\f186";     
}   
#mode:checked + label:before{
     content: "\f185";
     color: var(--color-b); 
}

.nav .mode i{
     margin: 10px;
}
.nav .menu{
     opacity: 0;
     transition: 0.3s;
}
                                        /* home */
.home{
     background-color: var(--bg-g);
     height: 100vh;
     display: flex;
     justify-content: center;
}
.home .container{
     align-items: center;
     padding-top: 60px;
     justify-content: space-between;
}
.home .home-content{
     width: 40%;
     height: 40vh;
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     margin-top: 20px;
}
.home .home-content h2{
     font-family: 'Amatic SC', sans-serif;     font-weight: 700;
     font-size: 65px;
     font-weight: 700;
     color: var(--color-h);
}
.home .home-content p{
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     font-size: 16px;
     font-weight: 400;
     color: #4F4F5A;
     margin: 20px 0px 25px;
     line-height: 25.6px;
}
.home .home-content .home-buttons{
     display: flex;
     flex-direction: row;
     width: 345px;
     align-items: center;
     justify-content: space-between;
}
.home .home-content .home-buttons .bg-btn{
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: var(--main-color);
     color: var(--color-w);
     width: 137px;
     height: 44px;
     border: none;
     border-radius: 0px 100px 100px;
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     font-size: 15px;
     font-weight: 400;
     transition: 0.4s;
}
.home .home-content .home-buttons .bg-btn:hover{
     background-color: var(--bg-hover);
}

.home .home-content .home-buttons .h-icon{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     font-size: 16px;
     font-weight: 600;
     transition: 0.4s;
     width: 170px;
}
.home .home-content .home-buttons .h-icon:hover{
     color: var(--main-color);
}
.home .home-content .home-buttons .h-icon .bg-color{
     background-color: var(--main-color);
     width: 28px;
     height: 54px;
     border-top-left-radius: 90px;
     border-bottom-left-radius: 90px;
}
.home .home-content .home-buttons .h-icon i{
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: var(--bg-w);
     border-radius: 50%;
     width: 41px;
     height: 41px;
     margin: 6px 0px 0px 8px;
}
.home-image{
     width: 40%;
     padding-top: 35px;
}
.home .home-image img{
     width: 100%;
     filter: drop-shadow(4px 4px 9px #000a);
}
.home .home-image img:hover {
     animation: shake 1s;
     animation-iteration-count: infinite;
}
   @keyframes shake {
     0% { transform: translate(1px, 1px) rotate(0deg); }
     10% { transform: translate(-1px, -2px) rotate(-1deg); }
     20% { transform: translate(-3px, 0px) rotate(1deg); }
     30% { transform: translate(3px, 2px) rotate(0deg); }
     40% { transform: translate(1px, -1px) rotate(1deg); }
     50% { transform: translate(-1px, 2px) rotate(-1deg); }
     60% { transform: translate(-3px, 1px) rotate(0deg); }
     70% { transform: translate(3px, 1px) rotate(-1deg); }
     80% { transform: translate(-1px, -1px) rotate(1deg); }
     90% { transform: translate(1px, 2px) rotate(0deg); }
     100% { transform: translate(1px, -2px) rotate(-1deg); }
}
                                        /* chefs */
.chefs{
     height: 130vh;
     text-align: center;
     background-color: var(--bg-w);
 }
.chefs .container{
     height: 100%;
     padding-top: 60px;
     flex-direction: column;
     justify-content: space-evenly;
     align-items: center;
}
.chefs .chefs-header{
     height: 10px;
}
.chefs .chefs-header h2{
     font-family: 'Inter', sans-serif;
     text-transform: uppercase;
     font-size: 14px;
     font-weight: 400;
     color: #838393;
}
.chefs .chefs-header p{
     font-family: 'Amatic SC', sans-serif;
     font-size: 50px;
     font-weight: 400;
     color: var(--color-h);
}
.chefs .chef-cards{
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
}
.chefs .chef-cards .card{
     background-color: var(--bg-wb);
     box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.1);     
     width: 31%;
     margin: auto;
     border-radius: 10px;
     height: 74vh;
     transition: 0.5s;
     position: relative;
     overflow: hidden;
}
.chefs .chef-cards .card:hover{
     transform: scale(1.1);
}
.chefs .chef-cards .card .card-icons{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    font-size: 18px;
    top: 20px;
    left: 120%;
    background-color: rgba(224, 223, 223, 0.3);
    width: 46px;
    height: 160px;
    border-radius: 5px;
    transition:  0.5s 0.4s;
}
.chefs .chef-cards .card:hover .card-icons{
     left: 85%;
}
.chefs .chef-cards .card .card-icons a{
     color: rgba(55, 55, 63, 0.5);
     transition: 0.5s;
}
.chefs .chef-cards .card .card-icons a:hover{
     color: rgba(55, 55, 63, 0.9)
}
.chefs .chef-cards .card img{
     border-radius: 10px;
     width: 100%;
}
.banner{
     position: relative;
     fill: var(--bg-wb);
}
.banner .wave{
     position: absolute;
     left: 0;
     bottom: -1;
}
.chefs .chef-cards{
     line-height: 1.5;
}
.chefs .chef-cards h3{
     font-family: "Inter",sans-serif;
     color: var(--color-b);
     font-weight: 700;
     font-size: 18.72;
}
.chefs .chef-cards span{
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     font-size: 14px;
     font-weight: 400;
     color: #7F7F90;
}
.chefs .chef-cards p{
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     font-size: 15px;
     font-weight: 400;
     color: #7F7F90;
     padding-top: 10px;
     width: 90%;
     margin: auto;
     line-height: 1.3;
    font-style: italic;
}
                                        /* gallery */
.gallery{
     height: 220vh;
     display: flex;    
     justify-content: center;
     text-align: center;
     background-color: var(--bg-g);
}
.gallery .container{
     height: 100%;
     padding-top: 60px;
     flex-direction: column;
     justify-content: space-evenly;
     align-items: center;
}
.gallery .gallery-header{
     height: 10px;
}
.gallery .gallery-header h2{
     font-family: 'Inter', sans-serif;
     text-transform: uppercase;
     font-size: 14px;
     font-weight: 400;
     color: var(--color-h);
}
.gallery .gallery-header p{
     font-family: 'Amatic SC', sans-serif;
     font-size: 50px;
     font-weight: 400;
     color: var(--color-h);
     padding-bottom: 10px;
} 
.gallery .gallery-images{ 
     display: grid;
     grid-template-columns: repeat(6,1fr);
     grid-auto-rows: minmax(100px,auto);
     gap: 20px;
     grid-template-areas: 
    "item1 item1 item2 item2 item3 item3"
    "item1 item1 item2 item2 item3 item3"
    "item1 item1 item2 item2 item3 item3"
    "item4 item4 item2 item2 item5 item5"
    "item4 item4 item2 item2 item5 item5"
    "item4 item4 item2 item2 item5 item5"
    "item4 item4 item2 item2 item6 item6"
    "item4 item4 item7 item7 item6 item6"
    "item4 item4 item7 item7 item6 item6"
    ".     . item7 item7 item6 item6"
    ".     . item7 item7 .      ."
    ;    
}
.gallery .gallery-images .child1{
     grid-area: item1;
}
.gallery .gallery-images .child2{
     grid-area: item2;
}
.gallery .gallery-images .child3{
     grid-area: item3;
}
.gallery .gallery-images .child4{
     grid-area: item4;
}
.gallery .gallery-images .child5{
     grid-area: item5;
}
.gallery .gallery-images .child6{
     grid-area: item6;
}
.gallery .gallery-images .child7{
     grid-area: item7;
}
.gallery .gallery-images .child{
     border: white solid 4px;
     overflow: hidden;
     display: flex;
     justify-content: center;
     align-items: center;
     position: relative;
}
.gallery .gallery-images .child .overlay{
     color: white;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     position: absolute;
     top: 110%;
     bottom: 0;
     right: 0;
     left: 0;
     background-color: rgba(0, 0, 0, 0.5);
     transition:  0.4s;
 }
.gallery .gallery-images .child:hover .overlay{
     top: 0;
 }
.gallery .gallery-images .child img{
     height: 100%;
     width: 100%;
     object-fit: cover;
     transition: 0.5s;
}
.gallery .gallery-images .child:hover img{
     transform: scale(1.1);
}


                                        /* contact */

.contact{
     background-color: var(--bg-w);
     height: 185vh;
     text-align: center;
}
.contact .container{
     height: 100%;
     padding-top: 60px;
     flex-direction: column;
     justify-content: space-evenly;
     align-items: center;
     padding-top: 110px;
}
.contact .contact-header{
     height: 10px;
}
.contact .contact-header h2{
     font-family: 'Inter', sans-serif;
     text-transform: uppercase;
     font-size: 14px;
     font-weight: 400;
     color: #7F7F90;
}
.contact .contact-header p{
     font-family: 'Amatic SC', sans-serif;
     font-size: 50px;
     font-weight: 400;
     color: var(--color-b);
     padding-bottom: 10px;
}
.contact iframe{
     margin-top: 30px;
}
.contact .contact-lists{
     width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.contact .contact-lists ul{
     display: flex;
     justify-content: space-between;
     align-items: center;
     flex-direction: row;
     flex-wrap: wrap;
}
.contact .contact-lists ul li{
     text-align: start;
     display: flex;
     background-color: var(--bg-li-contact);
     margin-bottom: 12px;
     width: 49%;
     height: 110px;
     justify-content: flex-start;
     align-items: center;
}
.contact .contact-lists li .l-content{
     font-size: 16px;
     line-height: 27px;
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.contact .contact-lists ul li h3{
     font-family: 'Inter', sans-serif;
     font-size: 20px;
     font-weight: 700;
     color: #7D7D7D;
}
.contact .contact-lists ul li p{
     font-size: 16px;
     color: var(--color-b);
}
.contact .contact-lists li i{
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: var(--main-color);
     font-size: 18px;
     color: var(--bg-w);
     border-radius: 50%;
     width: 52px;
     height: 52px;
     margin: 6px 10px 0px 20px;
}
.contact .labels{
     display: flex;
     justify-content: space-between;
}
.contact form{
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     align-items: center;
     justify-content: center;
     height: 32%;
     width: 100%;
     background-color: var(--bg-wb);
     box-shadow: 0 0 1.875rem #00000014;
     margin: 0px;

}
.contact form .container{
     padding: 0;
     justify-content: space-evenly;
     width: 98%;
}
.contact input{
     border: #E8E3E3 solid 2px;
     padding-left: 10px;
     transition: 0.5s;
     outline: none;
}
.contact input:focus{
     border: var(--main-color) solid 2px;
}
.contact .label{
     width: 98%;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: space-between;
}
.contact .one{
     width: 49%;
     margin-bottom: 10px;
     height: 60px;
}
.contact .two{
     width: 98%;
     height: 60px;
     margin-bottom: 10px;
}
.contact textarea{
     border: #E8E3E3 solid 2px;
     width: 98%;
     padding: 5px 0px 0px 10px;
     transition: 0.5s;
     outline: none;
}
.contact textarea:focus{
     border: var(--main-color) solid 2px;
}
.contact form .bg-btn{
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: var(--main-color);
     color: var(--color-w);
     width: 170px;
     height: 42px;
     border: none;
     border-radius:100px 100px;
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     font-size: 15px;
     font-weight: 400;
     transition: 0.4s;
}
.contact form .bg-btn:hover{
     background-color: var(--bg-hover);
}
                                        /* footer */
footer{
     background-image: linear-gradient(#0009, #0009),url(Images/textured-metal-background.jpg);
     background-size: contain;
     width: 100%;
     height: 48vh;
     box-shadow: 0px -1px 5px #0007;
     color: white;
}
footer .container{
    height: 90%;
    width: 85%;
    margin: auto;
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
footer .social{
     width: 22%;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: center;
     height: 75%;
     position: relative;
}
footer .social::after{
     content: "";
    position: absolute;
    background-color: #585858;
    width: 100%;
    height: 1.5px;
    top: 180px; 
}
footer .social .f-logo{
     display: flex;
     flex-direction: row;
     justify-content: flex-start;
     align-items: center;
     width: 100%;
}
footer .social .f-logo img{
     width: 11%;
}
footer .f-logo h2{
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     font-weight: 700;
     font-size: 30px;
}
footer .social p{
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     font-size: 16px;
}
footer .social h3{
     font-size: 19px;
     font-family: 'Inter', sans-serif;
     font-weight: 700;
}
footer .social ul{
     display: flex;
     flex-direction: row;
     width: 100%;
     justify-content: space-evenly;
}
footer .social a{
     color: white;
     font-size: 24px;
}
footer .subscribe{
     height: 100%;
     width: 50%;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
}
footer .subscribe .newsletter{
     height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
footer .subscribe h3{
     font-size: 19px;
     font-family: 'Inter', sans-serif;
     font-weight: 700;
}
footer .subscribe p{
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     font-size: 16px;
}
footer .subscribe .label{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
}
footer .subscribe input{
     border: none;
    outline: none;
    padding: 12px 0px 12px 8px;
    width: 79%;
}
footer .subscribe button{
    background-color: var(--main-color);
    width: 20%;
    border: none;
    color: var(--bg-w);
    font-size: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px 20px;
    transition: 0.5s;
}
footer .subscribe button:hover{
     background-color: var(--bg-hover);
}
footer .subscribe .quick{
     height: 45%;
}
footer .subscribe .quick a{
     color: white;
}
footer .subscribe .quick ul{
     padding-top: 10px;
     list-style: none;
     height: 86%;
     display: flex;
     flex-wrap: wrap;
     flex-direction: row;
     align-items: flex-start;
     justify-content: space-between;
}
footer .subscribe .quick ul li{
     width: 49%;
    height: 30%;
    display: flex;
    align-items: center;
    transition: 0.4s;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}
footer .subscribe .quick ul li:hover{
     padding-left: 10px;
     background-color: rgba(127, 129, 129, 0.2);
}
footer .subscribe .quick ul li i{
     padding-right: 6px;
}
footer .get{
     width: 20%;
     display: flex;
     flex-direction: column;
}
footer .get h3{
     font-size: 19px;
     font-family: 'Inter', sans-serif;
     font-weight: 700;
     padding-bottom: 12px;
}
footer .get ul{
     display: flex;
     flex-direction: column;
     height: 40%;
     justify-content: space-evenly;
     font-size: 16px;
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
footer .get ul li{
     display: flex;
     flex-direction: row;
     padding-bottom: 12px;
}
footer .get ul li i{
     font-size: 22px;
     color: var(--main-color);
     padding-right: 12px;
}
footer .get a{
     color: white;
}
                                         /* dark mode */
:root:has(#mode:checked){
     --main-color: #C17E1F;
     --bg-hover: #D78C23;
     --bg-w: #252525;
     --bg-g: #202020;
     --color-b: #fff;
     --color-w: #000;
     --color-h: #fff;
     --bg-li-contact: #0D0D0D;
     --bg-wb: #000;
 }