@media all and (max-width:1400px){
     .container{
          width: 84%;
     }
     .home-image{
          width: 40%;
          padding-top: 35px;
     }
     .home .home-image img{
          width: 100%;
     }
     .gallery .gallery-images .child img{
          object-fit: cover;
     }
     .contact .container{
          width: 90%;
     }
     .contact iframe{
          width: 1190px;
          height: 300px;
     }
}
@media all and (max-width:1200px){
     .container{
          width: 80%;
     }
     .home{
          height: 75vh;
     }
     .home .container{
          height: 70vh;
          height: 100%;
          padding-top: 32px;
     }
     .nav .nav-items{
          opacity: 0;
     }
     .nav .menu{
          opacity: 1;
          font-size: 25px;
     }
     .nav .menu i{
          margin: 10px;
     }
     .chefs{
          height: 115vh;
     }
     .chefs .container{
          height: 100%;
          display: flex;
          justify-content: space-around;
     }
     .gallery .gallery-images .child img {
          object-fit: cover;
     }
     .contact .container{
          width: 80%;
     }
     .contact iframe{
          width: 940px;
          height: 310px;
     }
}
@media all and (max-width:990px){
     .home{
          width: 100%;
          height: 170vh;
          display: flex;
          align-content: center;
          flex-direction: column-reverse;
          align-items: center;
          padding-top: 60px;
          justify-content: flex-end;
     }
      .home .container{
          width: 100%;
          display: flex;
          flex-direction: column-reverse;
          justify-content: space-evenly;
          align-items: center;
          padding: 0;
     }
     .home-image{
          width: 72%;
          padding-top: 0px;
     }
     .home .home-image img{
          width: 100%;
     }
     .home .home-content{
          text-align: center;
          width: 71%;
          display: flex;
          justify-content: center;
          align-items: center;
     }
     .home .home-content .home-buttons .bg-btn{
          border-radius: 100px 100px;
     }
     .chefs{
         height: 170vh; 
         display: flex;
         justify-content: space-evenly;
     }
     .chefs .container{
          padding: 0px;
          
     }
     .chefs .chefs-header{
          margin: 0;
          padding: 0;
          padding-bottom: 50px;
     }
     .chefs .chef-cards{
          line-height: 1;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          align-content: center;
     }
     .chefs .chef-cards .card{
          height: 55%;
          width: 40%;
          flex-direction: column;  
          margin: 20px;        
     }
     .chefs .chef-cards .card3{
          margin-top: 30px;
     }
     .gallery{
          height: 320vh;
     }
     .gallery .gallery-images{
          height: 90%;
          width: 100%;
     }
     .gallery .gallery-images .child1{
          grid-area: item1;
          grid-column-start: 1;
          grid-column-end: 4;
          grid-row-start: 1;
          grid-row-end: 3;
     }
     .gallery .gallery-images .child2{
          grid-area: item2;
          grid-column-start: 4;
          grid-column-end: 7;
          grid-row-start: 1;
          grid-row-end: 7;
     }
     .gallery .gallery-images .child3{
          grid-area: item3;
          grid-column-start: 1;
          grid-column-end: 4;
          grid-row-start: 3;
          grid-row-end: 5;
     }
     .gallery .gallery-images .child4{
          grid-area: item4;
          grid-column-start: 1;
          grid-column-end: 4;
          grid-row-start: 5;
          grid-row-end: 9;
     }
     .gallery .gallery-images .child5{
          grid-area: item5;
          grid-column-start: 4;
          grid-column-end: 7;
          grid-row-start: 7;
          grid-row-end: 9;
     }
     .gallery .gallery-images .child6{
          grid-area: item6;
          grid-column-start: 4;
          grid-column-end: 7;
          grid-row-start: 9;
          grid-row-end: 11;
     }
     .gallery .gallery-images .child7{
          grid-area: item7;
          grid-column-start: 1;
          grid-column-end: 4;
          grid-row-start: 9;
          grid-row-end: 11;
     }
     .contact .container{
          width: 89%;
          padding-top: 50px;
     }
     .contact iframe{
          width: 720px;
          height: 330px;
     }
     .contact form .container{
          width: 90%;
          height: 90%;
     }
     .contact form .bg-btn{
          margin-top: 10px;
          width: 200px;
          height: 60px;
     }
     .contact .label{
          width: 98%;
          display: flex;
          flex-direction: column;
     }
     .contact .one{
          width: 100%;
     }
     footer{
         height: 80vh;
     }
     footer .container{
          width: 70%;
          flex-wrap: wrap;
     }
     footer .social{
          width: 48%;
          height: 45%;
     }
     footer .subscribe{
          height: 55%;
          width: 50%;
     }
     footer .subscribe button{
          font-size:11px;
     }
     footer .subscribe .quick ul{
          width: 100%;
     }
     footer .subscribe .quick ul li{
          width: 47%;
     }
     footer .get{
          width: 50%;
          height: 55%;
     }
     footer .get h3{
          padding-bottom: 12px;
     }
     footer .get ul li{
          padding-bottom: 12px;
     }
}
@media all and (max-width:770px){
          .container{
               width: 75%;                                                                                               
          }
          .home{
               width: 100%;
               height: 145vh;
               display: flex;
               align-content: center;
               flex-direction: column-reverse;
               align-items: center;
               padding-top: 60px;
               justify-content: flex-end;
          }
           .home .container{
               width: 100%;
               display: flex;
               flex-direction: column-reverse;
               justify-content: space-evenly;
               align-items: center;
               padding-top: 30px;
          }
          .home-image{
               width: 72%;
               padding: 5px 0px;
          }
          .home .home-image img{
               width: 100%;
          }
          .home .home-content{
               text-align: center;
               width: 71%;
               display: flex;
               justify-content: center;
               align-items: center;
          }
          .home .home-content .home-buttons .bg-btn{
               border-radius: 100px 100px;
          }
          .chefs{
               height: 315vh;
               display: flex;
               justify-content: space-evenly;
          }
          .chefs .container{
               height: 100%;
          }
          .chefs .chef-cards{
               width: 100%;
               display: flex;
               flex-direction: column;
               flex-wrap: nowrap;
               justify-content: center;
          }
          .chefs .chef-cards .card{
               width: 100%;
               margin: auto;
               height: 88vh;
               margin-bottom: 40px;
               display: flex;
               flex-direction: column;
               justify-content: space-between;
               /* line-height: 2; */
          }
          .chefs .chef-cards .card .card-caption{
               position: relative;
               top: -15;
               padding-bottom: 15px;
               line-height: 20px;
          }
          .chefs .chef-cards .card .card-caption h3{
               padding-bottom: 5px;
          }
          .chefs .chef-cards .card .card-caption p{
               width: 91%;
               margin-top: 5px;
          }
          .gallery{
               height: 700vh;
          }
          .gallery .gallery-images{
               height: 95%;
               width: 100%;
          }
          .gallery .gallery-images .child1{
               grid-area: item1;
               grid-column-start: 1;
               grid-column-end: 7;
               grid-row-start: 1;
               grid-row-end: 2;
          }
          .gallery .gallery-images .child2{
               grid-area: item2;
               grid-column-start: 1;
               grid-column-end: 7;
               grid-row-start: 2;
               grid-row-end: 5;
          }
          .gallery .gallery-images .child3{
               grid-area: item3;
               grid-column-start: 1;
               grid-column-end: 7;
               grid-row-start: 5;
               grid-row-end: 6;
          }
          .gallery .gallery-images .child4{
               grid-area: item4;
               grid-column-start: 1;
               grid-column-end: 7;
               grid-row-start: 6;
               grid-row-end: 9;
          }
          .gallery .gallery-images .child5{
               grid-area: item5;
               grid-column-start: 1;
               grid-column-end: 7;
               grid-row-start: 9;
               grid-row-end: 11;
          }
          .gallery .gallery-images .child6{
               grid-area: item6;
               grid-column-start: 1;
               grid-column-end: 7;
               grid-row-start: 11;
               grid-row-end: 13;
          }
          .gallery .gallery-images .child7{
               grid-area: item7;
               grid-column-start: 1;
               grid-column-end: 7;
               grid-row-start: 13;
               grid-row-end: 15;
          }
          .contact{
               height: 230vh;
          }
          .contact .container{
               width: 80%;
          }
          .contact iframe{
               width: 500px;
               height: 300px;
               margin-top: 10px;
          }
          .contact .contact-lists ul{
               flex-direction: column;
          }
          .contact .contact-lists ul li{
               width: 98%;
          }
          .contact form{
               width: 98%;
          }
          .contact form .container{
               width: 95%;
               height: 90%;
          }
          .contact form .bg-btn{
               margin-top: 10px;
               width: 170px;
               height: 60px;
          }
          .contact .label{
               width: 98%;
               display: flex;
               flex-direction: column;
          }
          .contact .one{
               width: 100%;
          }
          footer{
               height: 110vh;
          }
          footer .container{
               width: 70%;
               flex-wrap: wrap;
               height: 73%;
               padding-top: 50px;
          }
          footer .social{
               width: 100%;
               height: 40%;
          }
          footer .subscribe{
               height: 45%;
               width: 100%;
               padding-top: 20px;
          }
          footer .get{
               height: 50%;
               width: 100%;
               padding-top: 50px;
          }
          footer .get h3{
               padding-bottom: 30px;
          }
}